project_code/food.json
[{"id":"5bd6eb67.611af4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"af8424f7.6a88e8","type":"ibmiot in","z":"5bd6eb67.611af4","authentication":"apiKey","apiKey":"4b386a9d.b6f114","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"project2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":360,"wires":[["648b5479.18ffac","8b314541.2ce368","2a3044ca.69082c","6899b33b.3e658c","73ee162a.bf2e68"]]},{"id":"7883db3a.6cf7a4","type":"debug","z":"5bd6eb67.611af4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":300,"wires":[]},{"id":"648b5479.18ffac","type":"function","z":"5bd6eb67.611af4","name":"temp","func":"global.set(\"t\",msg.payload.d.temperature)\nmsg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["7883db3a.6cf7a4","6005abf8.9f5234"]]},{"id":"8b314541.2ce368","type":"function","z":"5bd6eb67.611af4","name":"humidity","func":"global.set(\"h\",msg.payload.d.humidity)\nmsg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["7883db3a.6cf7a4","11ce52fb.569cbd"]]},{"id":"2a3044ca.69082c","type":"function","z":"5bd6eb67.611af4","name":"time","func":"global.set(\"s\",msg.payload.d.total);\ns = msg.payload.d.total;\nq=s.toString()\nif(q.length == 6)\n{\nr=q.substring(0,2)+\":\"+q.substring(2,4)+\":\"+q.substring(4,6)\n}\nelse\n{\nr=q.substring(0,1)+\":\"+q.substring(1,3)+\":\"+q.substring(3,5)\n}\nglobal.set(\"y\",r)\n\n\n\n\nmsg.payload = msg.payload.d.total\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["7883db3a.6cf7a4"]]},{"id":"6899b33b.3e658c","type":"function","z":"5bd6eb67.611af4","name":"date","func":"global.set(\"d\",msg.payload.d.c);\nd = msg.payload.d.c\np=d.toString()\n\nk=p.substring(0,2)+\"-\"+p.substring(2,4)+\"-\"+p.substring(4,8)\n\nglobal.set(\"z\",k)\n\nmsg.payload=global.get(\"z\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["7883db3a.6cf7a4","62afef8b.3417a"]]},{"id":"73ee162a.bf2e68","type":"function","z":"5bd6eb67.611af4","name":"mq","func":"global.set(\"m\",msg.payload.d.mq)\nmsg.payload=msg.payload.d.mq\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["7883db3a.6cf7a4","1625eed0.c63851"]]},{"id":"6005abf8.9f5234","type":"ui_gauge","z":"5bd6eb67.611af4","name":"","group":"6d401fd2.07507","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"11ce52fb.569cbd","type":"ui_gauge","z":"5bd6eb67.611af4","name":"","group":"6d401fd2.07507","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":540,"wires":[]},{"id":"1625eed0.c63851","type":"ui_gauge","z":"5bd6eb67.611af4","name":"","group":"6d401fd2.07507","order":2,"width":0,"height":0,"gtype":"gage","title":"Odour Value","label":"units","format":"{{value}}","min":"100","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":620,"wires":[]},{"id":"952b12fd.51f9","type":"http in","z":"5bd6eb67.611af4","name":"","url":"/food","method":"get","upload":false,"swaggerDoc":"","x":150,"y":720,"wires":[["eea89360.858eb"]]},{"id":"9ab440f.5bafdc","type":"http response","z":"5bd6eb67.611af4","name":"","statusCode":"","headers":{},"x":600,"y":760,"wires":[]},{"id":"eea89360.858eb","type":"function","z":"5bd6eb67.611af4","name":"","func":"msg.payload={\"temperature\":global.get(\"t\"),\"humidity\":global.get(\"h\"),\"time\":global.get(\"s\"),\"date\":global.get(\"d\"),\"mq\":global.get(\"m\"),\"d2\":global.get(\"z\"),\"t2\":global.get(\"y\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["9ab440f.5bafdc"]]},{"id":"62afef8b.3417a","type":"debug","z":"5bd6eb67.611af4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":420,"wires":[]},{"id":"4b386a9d.b6f114","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"e9rymb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6d401fd2.07507","type":"ui_group","z":"","name":"web page","tab":"668c68c6.c92738","disp":true,"width":"6","collapse":false},{"id":"668c68c6.c92738","type":"ui_tab","z":"","name":"cold chain","icon":"dashboard","disabled":false,"hidden":false}]